<p>Hello <%= @resource.email %>!</p>

<p>You have been invited to join Tix as a support agent.</p>

<p><a href="<%= @frontend_url %>">Accept invitation and set your password</a></p>

<p>This invitation will expire in 24 hours.</p>

<p>If you don't want to accept the invitation, please ignore this email.</p>
